# Mission to Mars

In [68]:
# Importing
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager

In [66]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/adrianmarceloflorespedraza/.wdm/drivers/chromedriver/mac64/91.0.4472.19/chromedriver] found in cache

#### NASA Mars News

In [18]:
# Defining url and visiting link
url = 'https://redplanetscience.com/'
browser.visit(url)

# Creating beautifulsoup on webpage
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

# Scrapping latest news title and paragraph text
news_title = soup.find('div', class_='content_title').text
news_p = soup.find('div', class_='article_teaser_body').text

print(news_title)
print(news_p)

Scientists Explore Outback as Testbed for Mars
Australia provides a great place for NASA's Mars 2020 and the ESA-Roscosmos ExoMars scientists to hone techniques in preparation for searching for signs ancient life on Mars.

#### JPL Mars Space Images - Featured Image

In [37]:
# Defining url and visiting link
url = 'https://spaceimages-mars.com/'
browser.visit(url)

# Creating beautifulsoup on webpage
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

# Scrapping featured_image_url, added url to relative path
featured_image_url = url+soup.find('img', class_='headerimage')['src']

print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars3.jpg

#### Mars Facts

In [130]:
# Defining url and converting to table, with some formatting
url = 'https://galaxyfacts-mars.com/'
tables = pd.read_html(url)
mars_table = tables[0]
mars_table = mars_table.set_index([0])
mars_facts = mars_table[1:]
mars_facts.columns = mars_table.iloc[0]
mars_facts.index.name = ""
mars_facts

Mars - Earth Comparison             Mars            Earth

Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C